<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="https://www.dita-ot.org/rng/plugin.rnc"
            type="application/relax-ng-compact-syntax"?>
<plugin id="com.extense.html5.branded" version="1.0.0">
  <require plugin="org.dita.html5"/>

  <!-- Override main topic transform (notes, steps, sections, code, etc.) -->
  <feature extension="dita.xsl.html5" file="xsl/html5/override.xsl"/>

  <!-- Override sidebar TOC navigation -->
  <feature extension="dita.xsl.html5.toc" file="xsl/toc/toc-override.xsl"/>

  <!-- Inject custom XSLT parameters -->
  <feature extension="dita.conductor.html5.param" file="insertparams.xml"/>
</plugin>
